.background{
    fill: lightblue;
}
.map-layer {
    stroke: black;
}
div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 150px;					
    height: 50px;					
    padding: 1px;				
    font: 20px sans-serif;		
    background: lightsteelblue;			
    border-radius: 8px;			
    pointer-events: none;
    opacity: 0;
}
div.circle{
    stroke: #000;
    fill: orange;
}


.link {
  stroke: #000;
  stroke-width: 1.5px;
}
.node{
    fill: #000;
    stroke: #fff;
    stroke-width: 1px;
}
.node.w{fill: white}
.node.b{fill: black}
.node.a{fill: purple}
.node.nat{fill: olive}
.node.ch{fill: orangered}
.node.jp{fill: lime}
.node.fp{fill: orange}
.node.kor{fill: pink}
.node.pac{fill: darkblue}
.node.oth{fill: grey}
.node.two{fill: brown}